@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden;
}

body {
  background-color: #1F1F1F;
  margin: 0;
}

/* Aplica a todo el sitio */
* {
  scrollbar-width: none; /* Para Firefox */
  scrollbar-color: #888 transparent; /* Color de la barra y el fondo */
}

/* Para navegadores basados en WebKit (Chrome, Edge, Safari, etc.) */
::-webkit-scrollbar {
  width: 2px; /* Ancho de la barra */
  height: 2px; /* Alto para barras horizontales */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color de la barra */
  border-radius: 10px; /* Bordes redondeados */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color de la barra al pasar el mouse */
}

::-webkit-scrollbar-track {
  background: transparent; /* Fondo de la pista */
}


.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  z-index: -1;
  background: transparent
    url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 0.2s infinite;
  opacity: 0.9;
  visibility: visible;
}


@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}